@import "../../components/GlobalStyles/mixins";

.wrapper {
}
.header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  z-index: 999;
}
.nav {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include Responsive(smartPhone) {
    padding: 0 10px;
  }
}
.logo {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: 1px 1px 1px #b6d9e7;
  transition: all linear 0.3s;
  &::after {
    display: none;
  }
}
.nav_logo {
  @include Responsive(smartPhone) {
    display: none;
  }
}

.menubar_and_logo {
  display: flex;
  align-items: center;
}
.menu_bar_icon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 2.5rem;
  color: var(--primary-color);
  @include Responsive(pc) {
    display: none;
  }
}
.pc_category {
  @include Responsive(tablet&smartPhone) {
    display: none;
  }
}
.category_list {
  display: flex;
  list-style: none;
}
.category_item {
  text-align: center;
  width: 100%;
}
.category_link {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--black-color);
  transition: all linear 0.1s;
  &:hover {
    color: var(--primary-color);
  }
}
.action_button {
  margin: 0 5px;
  position: relative;
  @include Responsive(smartPhone) {
    min-width: 35px !important;
    line-height: 20px;
  }
}
.action_button .total-cart-mobile {
  @include Responsive(pc) {
    display: none;
  }
  @include Responsive(tablet) {
    display: none;
  }
  @include Responsive(smartPhone) {
    background-color: var(--primary-color);
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50px;
    padding: 0px 6px;
  }
}
.action_name {
  display: inline-block;
  @include Responsive(smartPhone) {
    display: none;
  }
}
.sidebar_menu .category_list {
  animation: transF linear 0.3s;
}
@keyframes transF {
  from {
    transform: translateX(-320px);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fadeIn linear 0.2;
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.sidebar_logo {
  margin-top: 30px;
}
.sidebar_menu .category_list {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  z-index: 10;
  align-items: center;
  @include Responsive(smartPhone) {
    width: 70vw;
  }
}
