@import "normalize.css";
@import "./mixins";
@import "./grid.scss";
@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;500;600;700&display=swap");
:root {
  --primary-color: #ed4267;
  --white-color: #fff;
  --black-color: #000;
  --primary-font: "Gantari", sans-serif;
  --header-height: 70px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}
// button
.btn {
  font-size: 1.4rem;
  border: 1.5px solid var(--black-color);
  text-decoration: none;
  min-width: 70px;
  color: var(--black-color);
  padding: 6px 8px;
  border-radius: 50px;
  background-color: var(--white-color);
  user-select: none;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--black-color);
    transition: all linear 0.1s;
  }
}
// Active nav link
.active-nav .active {
  position: relative;
  color: var(--primary-color);
  font-weight: 600;
  @include Responsive(tablet&smartPhone) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--primary-color);
      width: 2px;
      height: 35px;
    }
  }
}

// Pagination
.pagination {
  list-style: none;
  display: flex;
}
.pagination .page-item {
  margin-left: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.pagination .page-item:hover {
  background-color: #e4e4e4;
}
.pagination .page-item a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  width: 35px;
  height: 20px;
  line-height: 1.6rem;
}
.pagination .page-item.active {
  background-color: var(--primary-color);
  color: var(--white-color);
}
//Scroll bar css
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

html *::-webkit-scrollbar-thumb {
  background-color: rgba(238, 66, 102, 0.5);
  border-radius: 100px;
}
